body {
  background: url(/img/blur-hospital.jpg);
  background-size: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 15px;
  color: white;
}
input {
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 6px;
}

button {
  background-color: orange;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}
button:hover {
  background-color: rgb(206, 135, 3);
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 80px;
  height: 60px;
  transform: translate(-50%, -50%);
}
h3 {
  color: black;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}
